@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

*{ 
    font-family: kalam;
    
}

/*HEADER*/

header {
    text-align: center;

}

.ImagenFondo {
    background-image: url(../Images/DSC_0397\ \(2\).JPG);
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;

}

.alinear {
    width: 170px;
    height: 215px;
    margin: auto;
    border-radius: 15px;
    
    
}
/*DIV*/
.curriculum{
    background-color: #41436a;
    padding: 10px 0 30px 0;
    border-radius: 5px;
}

h1 {
    color: #ff9677;
    text-align: center;
    font-family: kalam;
    letter-spacing: 4px;
    
}
/*BARRA NAVEGACION*/
.barra-nav{
    color: #f54768;   
    background-color: #61b8eb;
    width: 200px;
    margin: auto;
    border-radius: 7px;
    font-family: kalam;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    
    
}


/*SECTION*/
h2{
    padding: 5px;
    background-color: #ff9777;
    opacity: 0.7;
    letter-spacing: 2px;
    border-radius: 5px;
    
}

.negrita{
    font-weight: bold;
}

dt{
    font-weight: bold;
}


/*FOOTER*/
.footer{
    text-align: center;
    background-color: #41436a;    
    color: white;
    font-size: 30px;
    border-radius: 5px;
    letter-spacing: 2px;
    
}

i{
    color: white;

}